<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>

</head>
<body>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <div>
                <h1>Usuario de Github</h1>
            </div>
            <mat-selection-list #shoes [multiple]="false">
                <mat-list-option *ngFor="let user of usersDataArray; let i = index" [value]="user" (click)="changeUser(user)">
                    {{user['login']}}
                </mat-list-option>
            </mat-selection-list>
        </div>
        <div class="col-sm-7">
            <h1>Otros</h1>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
                <button type="submit" class="btn btn-primary submit-button" [disabled]="!form.valid">Submit</button>
            </form>
        </div>
        <div class="col-sm-1"></div>
    </div>
</body>
</html>